labs/Microsoft.ApplicationServer.Caching.Activities/CacheAsideExample/Service References/ServiceReferences/TestService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CacheAsideExample" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CacheAsideExample" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="SampleResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="CacheHit" type="xs:boolean" />
      <xs:element minOccurs="0" name="Data" nillable="true" type="tns:SampleData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SampleResponse" nillable="true" type="tns:SampleResponse" />
  <xs:complexType name="SampleData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SampleData" nillable="true" type="tns:SampleData" />
</xs:schema>