labs/Microsoft.Activities.Extensions/Examples/XamlAssemblyResolutionWeb/Service References/ServiceReference/TestAssemblyResolution1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8125/TestAssemblyResolution.xamlx?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/XamlAssemblyResolutionWeb" />
  <xs:element name="GetAssemblyNames">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAssemblyNamesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/XamlAssemblyResolutionWeb" minOccurs="0" name="GetAssemblyNameResult" nillable="true" type="q1:ResolutionInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>