labs/Microsoft.Activities.Extensions/Examples/XamlAssemblyResolutionWeb/Service References/ServiceReference/TestAssemblyResolution3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/XamlAssemblyResolutionWeb" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/XamlAssemblyResolutionWeb" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8125/TestAssemblyResolution.xamlx?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/ActivityLibrary1" />
  <xs:complexType name="ResolutionInfo">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ActivityLibrary1" minOccurs="0" name="ActivityAssembly" nillable="true" type="q1:AssemblyResolutionInfo" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ActivityLibrary1" minOccurs="0" name="WebAssembly" nillable="true" type="q2:AssemblyResolutionInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResolutionInfo" nillable="true" type="tns:ResolutionInfo" />
</xs:schema>