labs/Microsoft.Activities.Extensions/Microsoft.Activities.Extensions.Tests/Service References/ServiceReference1/StateMachineServiceExample.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="StateMachineServiceExample" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:59468/StateMachineServiceExample.xamlx?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_T6_InputArgumentsMessage">
    <wsdl:part xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/" name="guid" element="q1:guid" />
  </wsdl:message>
  <wsdl:message name="IService_T2_InputArgumentsMessage">
    <wsdl:part xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/" name="guid" element="q2:guid" />
  </wsdl:message>
  <wsdl:message name="IService_T3_InputArgumentsMessage">
    <wsdl:part xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/" name="guid" element="q3:guid" />
  </wsdl:message>
  <wsdl:message name="IService_T7_InputArgumentsMessage">
    <wsdl:part xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/" name="guid" element="q4:guid" />
  </wsdl:message>
  <wsdl:message name="IService_T5_InputArgumentsMessage">
    <wsdl:part xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/" name="guid" element="q5:guid" />
  </wsdl:message>
  <wsdl:message name="IService_T4_InputArgumentsMessage">
    <wsdl:part xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/" name="guid" element="q6:guid" />
  </wsdl:message>
  <wsdl:message name="IService_T1_InputArgumentsMessage" />
  <wsdl:message name="IService_T1_OutputMessage">
    <wsdl:part xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/" name="guid" element="q7:guid" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="T6">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/T6" message="tns:IService_T6_InputArgumentsMessage" />
    </wsdl:operation>
    <wsdl:operation name="T2">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/T2" message="tns:IService_T2_InputArgumentsMessage" />
    </wsdl:operation>
    <wsdl:operation name="T3">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/T3" message="tns:IService_T3_InputArgumentsMessage" />
    </wsdl:operation>
    <wsdl:operation name="T7">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/T7" message="tns:IService_T7_InputArgumentsMessage" />
    </wsdl:operation>
    <wsdl:operation name="T5">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/T5" message="tns:IService_T5_InputArgumentsMessage" />
    </wsdl:operation>
    <wsdl:operation name="T4">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/T4" message="tns:IService_T4_InputArgumentsMessage" />
    </wsdl:operation>
    <wsdl:operation name="T1">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/T1" message="tns:IService_T1_InputArgumentsMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/T1Response" message="tns:IService_T1_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="T6">
      <soap:operation soapAction="http://tempuri.org/IService/T6" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="T2">
      <soap:operation soapAction="http://tempuri.org/IService/T2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="T3">
      <soap:operation soapAction="http://tempuri.org/IService/T3" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="T7">
      <soap:operation soapAction="http://tempuri.org/IService/T7" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="T5">
      <soap:operation soapAction="http://tempuri.org/IService/T5" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="T4">
      <soap:operation soapAction="http://tempuri.org/IService/T4" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="T1">
      <soap:operation soapAction="http://tempuri.org/IService/T1" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="StateMachineServiceExample">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://localhost:59468/StateMachineServiceExample.xamlx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>